@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/Spectral/Spectral-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/Spectral/Spectral-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/Spectral/Spectral-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Redhat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/redhat/RedHatDisplay-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Redhat';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/redhat/RedHatDisplay-ExtraBoldItalic.ttf') format('truetype');
}


/* IBM Plex Mono - Monospace font for labels and UI */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');
