.left-bar::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--color-primary);
  box-shadow: 0 0 20px color-mix(in oklab, var(--color-primary) 30%, transparent);
}