.theme-switch h2 {
  font-size: var(--size-step-min-2);
  font-family: var(--font-mono);
}

.theme-switch .button[aria-pressed='true'] {
  --_color-contrast: var(--color-tertiary);
  --button-bg: var(--_color-contrast);
  --button-color: var(--color-dark);
  --button-hover-color: var(--color-dark);
  --focus-color: var(--_color-contrast);
}

/* Hide without JS */
is-land:not(:defined) .theme-switch {
  display: none;
}
