<is-land on:idle>
    <div
            role="region"
            class="theme-switch | cluster"
            style="--cluster-horizontal-alignment: center; --gutter: 0.1rem"
            aria-labelledby="theme-switcher-label"
            data-theme-switcher
    >
        <button class="button" id="light-theme-toggle" data-theme="light" data-icon>
            {% svg 'misc/sun' %}
        </button>
        <button class="button" id="dark-theme-toggle" data-theme="dark"  data-icon>
            {% svg 'misc/moon' %}
        </button>
    </div>
</is-land>
